.navBackgroundTransparent {
	background-color: transparent;
	padding: 8;
}
/* TODO: Customize background color to match client branding */
.navBackgroundColor {
	background-color: #f7b56a;
	padding: 8;
}

.navbar-brand {
	margin-left: 10px;
}

/* TODO: Customize background color to match client branding */
.show,
.collapsing {
	background-color: #f7b56a;
}
