.navBackgroundTransparent {
  background-color: transparent;
  padding: 8;
}

.navBackgroundColor {
  background-color: #d6c6c3;
  padding: 8;
}

.navbar-brand {
  margin-left: 10px;
}

.show,
.collapsing {
  background-color: #d6c6c3;
}
