.footer {
  clear: both;
  background-color: transparent;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

.footer a {
  color: #bcafb4;
  text-decoration: none;
}

.footer a:hover {
  color: pink;
  text-decoration: underline;
}

.separator {
  border-top: 1px dashed #bcafb4;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding-bottom: 15px;
  }
}
