.notFound {
  background-color: #e9dbd7;
  font-family: "Spartan", san-serif;
  padding-top: 25%;
  height: 100vh;
  width: 100vw;
}
/* 
@media screen and (min-width: 320px) and (max-width: 767px) {
  .notFound {
    padding-top: 25%;
  }
} */
